LateralMenus/LateralMenus/Service References/ProductManager/ProductManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax25="http://pojo.entity.upreal/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://manager.entity.upreal" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://manager.entity.upreal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax26="http://pojo.entity.upreal/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://manager.entity.upreal">
      <xs:import namespace="http://pojo.entity.upreal/xsd" />
      <xs:element name="getProductByBrand">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductByBrandResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax26:Product" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProduct">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax26:Product" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateProduct">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ean" type="xs:int" />
            <xs:element minOccurs="0" name="picture" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateProductResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteProduct">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteProductResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registerProduct">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ean" type="xs:int" />
            <xs:element minOccurs="0" name="picture" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registerProductResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax26:Product" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductByName">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductByNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax26:Product" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductByEAN">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ean" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getProductByEANResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax26:Product" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.entity.upreal/xsd">
      <xs:complexType name="Product">
        <xs:sequence>
          <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ean" type="xs:int" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="picture" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="upload_date" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getProductRequest">
    <wsdl:part name="parameters" element="ns:getProduct" />
  </wsdl:message>
  <wsdl:message name="getProductResponse">
    <wsdl:part name="parameters" element="ns:getProductResponse" />
  </wsdl:message>
  <wsdl:message name="getProductByBrandRequest">
    <wsdl:part name="parameters" element="ns:getProductByBrand" />
  </wsdl:message>
  <wsdl:message name="getProductByBrandResponse">
    <wsdl:part name="parameters" element="ns:getProductByBrandResponse" />
  </wsdl:message>
  <wsdl:message name="updateProductRequest">
    <wsdl:part name="parameters" element="ns:updateProduct" />
  </wsdl:message>
  <wsdl:message name="updateProductResponse">
    <wsdl:part name="parameters" element="ns:updateProductResponse" />
  </wsdl:message>
  <wsdl:message name="registerProductRequest">
    <wsdl:part name="parameters" element="ns:registerProduct" />
  </wsdl:message>
  <wsdl:message name="registerProductResponse">
    <wsdl:part name="parameters" element="ns:registerProductResponse" />
  </wsdl:message>
  <wsdl:message name="getProductByEANRequest">
    <wsdl:part name="parameters" element="ns:getProductByEAN" />
  </wsdl:message>
  <wsdl:message name="getProductByEANResponse">
    <wsdl:part name="parameters" element="ns:getProductByEANResponse" />
  </wsdl:message>
  <wsdl:message name="getProductByNameRequest">
    <wsdl:part name="parameters" element="ns:getProductByName" />
  </wsdl:message>
  <wsdl:message name="getProductByNameResponse">
    <wsdl:part name="parameters" element="ns:getProductByNameResponse" />
  </wsdl:message>
  <wsdl:message name="deleteProductRequest">
    <wsdl:part name="parameters" element="ns:deleteProduct" />
  </wsdl:message>
  <wsdl:message name="deleteProductResponse">
    <wsdl:part name="parameters" element="ns:deleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="getProductInfoRequest">
    <wsdl:part name="parameters" element="ns:getProductInfo" />
  </wsdl:message>
  <wsdl:message name="getProductInfoResponse">
    <wsdl:part name="parameters" element="ns:getProductInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductManagerPortType">
    <wsdl:operation name="getProduct">
      <wsdl:input wsaw:Action="urn:getProduct" message="ns:getProductRequest" />
      <wsdl:output wsaw:Action="urn:getProductResponse" message="ns:getProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProductByBrand">
      <wsdl:input wsaw:Action="urn:getProductByBrand" message="ns:getProductByBrandRequest" />
      <wsdl:output wsaw:Action="urn:getProductByBrandResponse" message="ns:getProductByBrandResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <wsdl:input wsaw:Action="urn:updateProduct" message="ns:updateProductRequest" />
      <wsdl:output wsaw:Action="urn:updateProductResponse" message="ns:updateProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="registerProduct">
      <wsdl:input wsaw:Action="urn:registerProduct" message="ns:registerProductRequest" />
      <wsdl:output wsaw:Action="urn:registerProductResponse" message="ns:registerProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProductByEAN">
      <wsdl:input wsaw:Action="urn:getProductByEAN" message="ns:getProductByEANRequest" />
      <wsdl:output wsaw:Action="urn:getProductByEANResponse" message="ns:getProductByEANResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProductByName">
      <wsdl:input wsaw:Action="urn:getProductByName" message="ns:getProductByNameRequest" />
      <wsdl:output wsaw:Action="urn:getProductByNameResponse" message="ns:getProductByNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <wsdl:input wsaw:Action="urn:deleteProduct" message="ns:deleteProductRequest" />
      <wsdl:output wsaw:Action="urn:deleteProductResponse" message="ns:deleteProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProductInfo">
      <wsdl:input wsaw:Action="urn:getProductInfo" message="ns:getProductInfoRequest" />
      <wsdl:output wsaw:Action="urn:getProductInfoResponse" message="ns:getProductInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductManagerSoap11Binding" type="ns:ProductManagerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="urn:getProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByBrand">
      <soap:operation soapAction="urn:getProductByBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap:operation soapAction="urn:updateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerProduct">
      <soap:operation soapAction="urn:registerProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByEAN">
      <soap:operation soapAction="urn:getProductByEAN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByName">
      <soap:operation soapAction="urn:getProductByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <soap:operation soapAction="urn:deleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductInfo">
      <soap:operation soapAction="urn:getProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductManagerSoap12Binding" type="ns:ProductManagerPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProduct">
      <soap12:operation soapAction="urn:getProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByBrand">
      <soap12:operation soapAction="urn:getProductByBrand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap12:operation soapAction="urn:updateProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerProduct">
      <soap12:operation soapAction="urn:registerProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByEAN">
      <soap12:operation soapAction="urn:getProductByEAN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByName">
      <soap12:operation soapAction="urn:getProductByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <soap12:operation soapAction="urn:deleteProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductInfo">
      <soap12:operation soapAction="urn:getProductInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductManagerHttpBinding" type="ns:ProductManagerPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getProduct">
      <http:operation location="getProduct" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByBrand">
      <http:operation location="getProductByBrand" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <http:operation location="updateProduct" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerProduct">
      <http:operation location="registerProduct" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByEAN">
      <http:operation location="getProductByEAN" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductByName">
      <http:operation location="getProductByName" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <http:operation location="deleteProduct" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductInfo">
      <http:operation location="getProductInfo" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductManager">
    <wsdl:port name="ProductManagerHttpSoap11Endpoint" binding="ns:ProductManagerSoap11Binding">
      <soap:address location="http://163.5.84.202/UpReal/services/ProductManager.ProductManagerHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ProductManagerHttpSoap12Endpoint" binding="ns:ProductManagerSoap12Binding">
      <soap12:address location="http://163.5.84.202/UpReal/services/ProductManager.ProductManagerHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ProductManagerHttpEndpoint" binding="ns:ProductManagerHttpBinding">
      <http:address location="http://163.5.84.202/UpReal/services/ProductManager.ProductManagerHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>