LateralMenus/LateralMenus/Service References/GlobalManager/GlobalManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax23="http://pojo.entity.upreal/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://manager.entity.upreal" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://manager.entity.upreal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax24="http://pojo.entity.upreal/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://manager.entity.upreal">
      <xs:import namespace="http://pojo.entity.upreal/xsd" />
      <xs:element name="getRate">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id_user" type="xs:int" />
            <xs:element minOccurs="0" name="id_product" type="xs:int" />
            <xs:element minOccurs="0" name="id_ovr_rate" type="xs:int" />
            <xs:element minOccurs="0" name="type" type="xs:int" />
            <xs:element minOccurs="0" name="id_article" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax24:Rate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRateById">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRateByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax24:Rate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchKeyword">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchKeywordResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchNews">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchNewsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax24:Article" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createNewsComment">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id_user" type="xs:int" />
            <xs:element minOccurs="0" name="id_target" type="xs:int" />
            <xs:element minOccurs="0" name="commentary" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createNewsCommentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Test">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="TestResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sumMarkNews">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id_article" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sumMarkNewsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rateNews">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id_user" type="xs:int" />
            <xs:element minOccurs="0" name="id_target" type="xs:int" />
            <xs:element minOccurs="0" name="mark" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rateNewsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNewsInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNewsInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax24:Article" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojo.entity.upreal/xsd">
      <xs:complexType name="Rate">
        <xs:sequence>
          <xs:element minOccurs="0" name="active" type="xs:int" />
          <xs:element minOccurs="0" name="commentary" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="down" type="xs:int" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="id_user" type="xs:int" />
          <xs:element minOccurs="0" name="mark" type="xs:int" />
          <xs:element minOccurs="0" name="up" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Article">
        <xs:sequence>
          <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="creation" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getRateRequest">
    <wsdl:part name="parameters" element="ns:getRate" />
  </wsdl:message>
  <wsdl:message name="getRateResponse">
    <wsdl:part name="parameters" element="ns:getRateResponse" />
  </wsdl:message>
  <wsdl:message name="createNewsCommentRequest">
    <wsdl:part name="parameters" element="ns:createNewsComment" />
  </wsdl:message>
  <wsdl:message name="createNewsCommentResponse">
    <wsdl:part name="parameters" element="ns:createNewsCommentResponse" />
  </wsdl:message>
  <wsdl:message name="sumMarkNewsRequest">
    <wsdl:part name="parameters" element="ns:sumMarkNews" />
  </wsdl:message>
  <wsdl:message name="sumMarkNewsResponse">
    <wsdl:part name="parameters" element="ns:sumMarkNewsResponse" />
  </wsdl:message>
  <wsdl:message name="getRateByIdRequest">
    <wsdl:part name="parameters" element="ns:getRateById" />
  </wsdl:message>
  <wsdl:message name="getRateByIdResponse">
    <wsdl:part name="parameters" element="ns:getRateByIdResponse" />
  </wsdl:message>
  <wsdl:message name="TestRequest">
    <wsdl:part name="parameters" element="ns:Test" />
  </wsdl:message>
  <wsdl:message name="TestResponse">
    <wsdl:part name="parameters" element="ns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="rateNewsRequest">
    <wsdl:part name="parameters" element="ns:rateNews" />
  </wsdl:message>
  <wsdl:message name="rateNewsResponse">
    <wsdl:part name="parameters" element="ns:rateNewsResponse" />
  </wsdl:message>
  <wsdl:message name="searchKeywordRequest">
    <wsdl:part name="parameters" element="ns:searchKeyword" />
  </wsdl:message>
  <wsdl:message name="searchKeywordResponse">
    <wsdl:part name="parameters" element="ns:searchKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="searchNewsRequest">
    <wsdl:part name="parameters" element="ns:searchNews" />
  </wsdl:message>
  <wsdl:message name="searchNewsResponse">
    <wsdl:part name="parameters" element="ns:searchNewsResponse" />
  </wsdl:message>
  <wsdl:message name="getNewsInfoRequest">
    <wsdl:part name="parameters" element="ns:getNewsInfo" />
  </wsdl:message>
  <wsdl:message name="getNewsInfoResponse">
    <wsdl:part name="parameters" element="ns:getNewsInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="GlobalManagerPortType">
    <wsdl:operation name="getRate">
      <wsdl:input wsaw:Action="urn:getRate" message="ns:getRateRequest" />
      <wsdl:output wsaw:Action="urn:getRateResponse" message="ns:getRateResponse" />
    </wsdl:operation>
    <wsdl:operation name="createNewsComment">
      <wsdl:input wsaw:Action="urn:createNewsComment" message="ns:createNewsCommentRequest" />
      <wsdl:output wsaw:Action="urn:createNewsCommentResponse" message="ns:createNewsCommentResponse" />
    </wsdl:operation>
    <wsdl:operation name="sumMarkNews">
      <wsdl:input wsaw:Action="urn:sumMarkNews" message="ns:sumMarkNewsRequest" />
      <wsdl:output wsaw:Action="urn:sumMarkNewsResponse" message="ns:sumMarkNewsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRateById">
      <wsdl:input wsaw:Action="urn:getRateById" message="ns:getRateByIdRequest" />
      <wsdl:output wsaw:Action="urn:getRateByIdResponse" message="ns:getRateByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="urn:Test" message="ns:TestRequest" />
      <wsdl:output wsaw:Action="urn:TestResponse" message="ns:TestResponse" />
    </wsdl:operation>
    <wsdl:operation name="rateNews">
      <wsdl:input wsaw:Action="urn:rateNews" message="ns:rateNewsRequest" />
      <wsdl:output wsaw:Action="urn:rateNewsResponse" message="ns:rateNewsResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchKeyword">
      <wsdl:input wsaw:Action="urn:searchKeyword" message="ns:searchKeywordRequest" />
      <wsdl:output wsaw:Action="urn:searchKeywordResponse" message="ns:searchKeywordResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchNews">
      <wsdl:input wsaw:Action="urn:searchNews" message="ns:searchNewsRequest" />
      <wsdl:output wsaw:Action="urn:searchNewsResponse" message="ns:searchNewsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNewsInfo">
      <wsdl:input wsaw:Action="urn:getNewsInfo" message="ns:getNewsInfoRequest" />
      <wsdl:output wsaw:Action="urn:getNewsInfoResponse" message="ns:getNewsInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GlobalManagerSoap11Binding" type="ns:GlobalManagerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRate">
      <soap:operation soapAction="urn:getRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewsComment">
      <soap:operation soapAction="urn:createNewsComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumMarkNews">
      <soap:operation soapAction="urn:sumMarkNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRateById">
      <soap:operation soapAction="urn:getRateById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="urn:Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rateNews">
      <soap:operation soapAction="urn:rateNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchKeyword">
      <soap:operation soapAction="urn:searchKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchNews">
      <soap:operation soapAction="urn:searchNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewsInfo">
      <soap:operation soapAction="urn:getNewsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GlobalManagerSoap12Binding" type="ns:GlobalManagerPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRate">
      <soap12:operation soapAction="urn:getRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewsComment">
      <soap12:operation soapAction="urn:createNewsComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumMarkNews">
      <soap12:operation soapAction="urn:sumMarkNews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRateById">
      <soap12:operation soapAction="urn:getRateById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="urn:Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rateNews">
      <soap12:operation soapAction="urn:rateNews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchKeyword">
      <soap12:operation soapAction="urn:searchKeyword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchNews">
      <soap12:operation soapAction="urn:searchNews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewsInfo">
      <soap12:operation soapAction="urn:getNewsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GlobalManagerHttpBinding" type="ns:GlobalManagerPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getRate">
      <http:operation location="getRate" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewsComment">
      <http:operation location="createNewsComment" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumMarkNews">
      <http:operation location="sumMarkNews" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRateById">
      <http:operation location="getRateById" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="Test" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rateNews">
      <http:operation location="rateNews" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchKeyword">
      <http:operation location="searchKeyword" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchNews">
      <http:operation location="searchNews" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewsInfo">
      <http:operation location="getNewsInfo" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GlobalManager">
    <wsdl:port name="GlobalManagerHttpSoap11Endpoint" binding="ns:GlobalManagerSoap11Binding">
      <soap:address location="http://163.5.84.202/UpReal/services/GlobalManager.GlobalManagerHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="GlobalManagerHttpSoap12Endpoint" binding="ns:GlobalManagerSoap12Binding">
      <soap12:address location="http://163.5.84.202/UpReal/services/GlobalManager.GlobalManagerHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="GlobalManagerHttpEndpoint" binding="ns:GlobalManagerHttpBinding">
      <http:address location="http://163.5.84.202/UpReal/services/GlobalManager.GlobalManagerHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>